$primary-color: #525769;
$secondary-color: #ede6e0;
$gray-lightest: #f6f6f6;
$gray-light: #dee2e9;
$gray-dark: #333333;
$white: #ffffff;
$black: #000000;
$gray-medium: #a8aaad; 
$gray-placeholder: #e7e7e7;
$dark-navy: #283951;
$slate-blue: #6f7890;
$soft-gray: #a8aaad;
$dark-slate-blue: #364458;